<!-- Contents -->
<div class="container-fluid seats-container" ng-init="getTickets();changedate();">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card shadow-sm">
                <div class="card-header">
                    <span class="heading">Select your seats</span>
                        <br>
                        <span>
                            <form name="dateForm" class="float-right"><label class="label">DATE 
                                    <input type="date" name="date" ng-model="eventDate" ng-change="changedate()" min="{{date | date:'yyyy-MM-dd'}}" required>
                                    <!-- {{eventDate}} -->
                                </form>
                            
                        </span>
                        <span class="float-right">
                            <select class="custom-select" ng-change="setvalue()" ng-model="selectedSeats" ng-options="o for o in options">{{o}}</select>
                            <p>Select {{selectedSeats}} seats</p>
                            <!-- <option  ng-model="selectedName" ng-repeat="x in options" value="x">{{x}}</option>-->

                       
                        </span>
                </div>
                <div class="card-body" ng-init="bookTickets(noOfSeats.value)">
                    <!-- Seats container -->
                    <!-- <div class=" seat selected">9</div> 
                         <div class=" seat no-available">15</div> -->

                    <div style="width:100%;">
                        <div class="d-flex flex-row mb-3 seats">
                            <div class="mr-2 seat-row">A</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="A1" ng-click="onSelect('A1')">1</div>
                            <div class=" seat" id="A2" ng-click="onSelect('A2')">2</div>
                            <div class=" seat" id="A3" ng-click="onSelect('A3')">3</div>
                            <div class=" seat" id="A4" ng-click="onSelect('A4')">4</div>
                            <div class=" seat" id="A5" ng-click="onSelect('A5')">5</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="A6" ng-click="onSelect('A6')">6</div>
                            <div class=" seat" id="A7" ng-click="onSelect('A7')">7</div>
                            <div class=" seat" id="A8" ng-click="onSelect('A8')">8</div>
                            <div class=" seat" id="A9" ng-click="onSelect('A9')">9</div>
                            <div class=" seat" id="A10" ng-click="onSelect('A10')">10</div>

                        </div>

                        <div class="d-flex flex-row mb-3 seats">
                            <div class="mr-2 seat-row">B</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="B1" ng-click="onSelect('B1')">1</div>
                            <div class=" seat" id="B2" ng-click="onSelect('B2')">2</div>
                            <div class=" seat" id="B3" ng-click="onSelect('B3')">3</div>
                            <div class=" seat" id="B4" ng-click="onSelect('B4')">4</div>
                            <div class=" seat" id="B5" ng-click="onSelect('B5')">5</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="B6" ng-click="onSelect('B6')">6</div>
                            <div class=" seat" id="B7" ng-click="onSelect('B7')">7</div>
                            <div class=" seat" id="B8" ng-click="onSelect('B8')">8</div>
                            <div class=" seat" id="B9" ng-click="onSelect('B9')">9</div>
                            <div class=" seat" id="B10" ng-click="onSelect('B10')">10</div>
                        </div>
                        <!-- <div class=" seat no-available"  ="B-9" ng-click="onSelect()">9</div> -->

                        <div class="d-flex flex-row mb-3 seats">
                            <div class="mr-2 seat-row">C</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="C1" ng-click="onSelect('C1')">1</div>
                            <div class=" seat" id="C2" ng-click="onSelect('C2')">2</div>
                            <div class=" seat" id="C3" ng-click="onSelect('C3')">3</div>
                            <div class=" seat" id="C4" ng-click="onSelect('C4')">4</div>
                            <div class=" seat" id="C5" ng-click="onSelect('C5')">5</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="C6" ng-click="onSelect('C6')">6</div>
                            <div class=" seat" id="C7" ng-click="onSelect('C7')">7</div>
                            <div class=" seat" id="C8" ng-click="onSelect('C8')">8</div>
                            <div class=" seat" id="C9" ng-click="onSelect('C9')">9</div>
                            <div class=" seat" id="C10" ng-click="onSelect('C10')">10</div>
                        </div>

                        <div class="d-flex flex-row mb-3 seats">
                            <div class="mr-2 seat-row">D</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="D1" ng-click="onSelect('D1')">1</div>
                            <div class=" seat" id="D2" ng-click="onSelect('D2')">2</div>
                            <div class=" seat" id="D3" ng-click="onSelect('D3')">3</div>
                            <div class=" seat" id="D4" ng-click="onSelect('D4')">4</div>
                            <div class=" seat" id="D5" ng-click="onSelect('D5')">5</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="D6" ng-click="onSelect('D6')">6</div>
                            <div class=" seat" id="D7" ng-click="onSelect('D7')">7</div>
                            <div class=" seat" id="D8" ng-click="onSelect('D8')">8</div>
                            <div class=" seat" id="D9" ng-click="onSelect('D9')">9</div>
                            <div class=" seat" id="D10" ng-click="onSelect('D10')">10</div>
                        </div>

                        <div class="d-flex flex-row mb-3 seats">
                            <div class="mr-2 seat-row">E</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="E1" ng-click="onSelect('E1')">1</div>
                            <div class=" seat" id="E2" ng-click="onSelect('E2')">2</div>
                            <div class=" seat" id="E3" ng-click="onSelect('E3')">3</div>
                            <div class=" seat" id="E4" ng-click="onSelect('E4')">4</div>
                            <div class=" seat" id="E5" ng-click="onSelect('E5')">5</div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class="mr-4  seat-divider"> </div>
                            <div class=" seat" id="E6" ng-click="onSelect('E6')">6</div>
                            <div class=" seat" id="E7" ng-click="onSelect('E7')">7</div>
                            <div class=" seat" id="E8" ng-click="onSelect('E8')">8</div>
                            <div class=" seat" id="E9" ng-click="onSelect('E9')">9</div>
                            <div class=" seat" id="E10" ng-click="onSelect('E10')">10</div>
                        </div>

                    </div>
                    <!-- Seats container ends here-->

                    <!-- Confirmation Box - Show this box after Selecting valid no of seats only -->
                    <div class="text-center my-5">
                        <img src="assets/images/screen.png">
                        <br/>
                        <span class="text-muted small">All eyes this way please!</span>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-12 p-0">
                            <div class="alert alert-danger" role="alert">
                                <i class="fa ">Selected seats:</i>{{DisplayValue}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="count==0" class="row payment-holder m-2">
                        <div class="col-md-4 p-3">
                            <form name="registerForm">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" ng-model="user.name" name="name" class="form-control" required>{{name}}
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" ng-model="user.email" name="email" class="form-control" required>{{email}}
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 p-3">
                            <div class="mt-5">
                                <h5 class="text-center">Your Seats Selection:
                                    <h3 ng-repeat="x in DisplayValue">
                                        <span class="badge badge-secondary mr-2">{{x}}</span>
                                    </h3>
                                </h5>
                                <div class="row mt-3">
                                    <div class="col-sm-6 offset-sm-3 text-center">
                                        <button class="btn btn-primary btn-lg btn-block"  ng-disabled="registerForm.$invalid||dateForm.$invalid" ng-click="saveTicketDetails(user)">Pay
                                            <i class="fa fa-rupee-sign"></i> {{price}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Confirmation box ends here-->

                </div>
            </div>
        </div>
    </div>



</div>
<!-- Contents ends-->